<div class="component-container full-container">
  <div class="items-container" id="neopixels-container">
    <mat-card class="card-container" id="neopixel-card" *ngFor="let neopixel of neopixels; let id = index">
      <mat-card-header id="neopixel-card-header">
        <div id="neopixel-actions">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu class="action-menu" #menu="matMenu" xPosition="before">
            <button id="select-neopixel-action" (click)="selectMode = !selectMode" mat-menu-item>
              <mat-icon>check_box</mat-icon>
              <span class="menu-action-text">Select</span>
            </button>
            <button id="clear-neopixel-action" (click)="clearNeopixel(neopixel)" mat-menu-item>
              <mat-icon>clear_all</mat-icon>
              <span class="menu-action-text">Clear</span>
            </button>
            <button id="delete-neopixel-action" (click)="deleteNeopixel(neopixel)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span class="menu-action-text">Delete</span>
            </button>
          </mat-menu>
        </div>
        <mat-card-title>{{neopixel._id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="items-container items-container-row">
          <div id="pixel-container" *ngFor="let pixel of neopixel.pixels; let index = index">
            <span *ngIf="selectMode">{{index+1}}</span>
            <button [ngStyle]="{'background-color': decimalArrayToRGB(pixel.color)}" (click)="openPixelColorDialog(id, index)" id="pixel" mat-fab>
              <mat-icon id="pixel-icon">flare</mat-icon>
            </button>
            <div id="pixel-select" *ngIf="selectMode">
              <mat-checkbox 
                (click)="$event.stopPropagation()"
                (change)="$event ? selectedPixels.toggle(pixel) : null"
                [checked]="selectedPixels.isSelected(pixel)">
              </mat-checkbox>
            </div>
          </div>
        </div>
        <div class="items-container" id="animations-container">
          <mat-card class="card-container" id="animation-container" *ngFor="let anim of neopixel.animations; let index = index">
            <mat-card-content>
                <button id="play-pause-button" (click)="toggleAnimation(neopixel.id, anim, index)" mat-fab color="primary">
                  <mat-icon *ngIf="!(selectedAnimIndex == index) || !neopixel.animating">play_arrow</mat-icon>
                  <mat-icon *ngIf="selectedAnimIndex == index && neopixel.animating">pause</mat-icon>
                </button>
                <span id="animation-title">{{anim}}</span>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="neopixel-actions-container">
    <button class="neopixel-action" (click)="openAddNeopixelDialog()" id="add-button" mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
