#add-button {
    width: 72px;
    height: 72px;
}

#neopixels-container {
    padding: 24px;
}

#neopixel-card {
    margin-bottom: 24px;
}

#pixel-container {
    margin: 8px;
}

#neopixel-card-header {
    display: flex;
    justify-content: center;
}

#neopixel-actions {
    position: absolute;
    left:0;
    top:0;
}

.neopixel-actions-container {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.neopixel-action {
    margin: 8px;
}

/deep/ .mat-menu-content {
    background-color: #c2185b !important;
}

#animation-title {
    margin: 16px;
}