#app-container {
    background-image: url("../../server/project/static/adafruit.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #00a7e9;
    width: 100vw;
    height: 100vh;
}

.full-container {
    width: 100vw;
    height: 100vh;
}

.action-container {
    display: flex;
    justify-content: center;
}

.items-container-row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.menu-action-text {
    font-size: 18px;
}

