<div class="dialog-container">
  <h1 mat-dialog-title>Add a Neopixel!</h1>
  <div class="form-container" mat-dialog-content>
    <form [formGroup]="addNeopixelForm" (ngSubmit)="addNeopixel()" novalidate>
      <div class="form-input-container">
        <mat-form-field>
          <mat-select placeholder="Type" formControlName="pixelType" required>
            <mat-option *ngFor="let type of pixelTypeOptions" value="{{type}}">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-input-container">
        <mat-form-field>
          <input type="text" placeholder="Number of pixels" matInput formControlName="numPixels" required>
          <mat-error *ngIf="addNeopixelForm.controls['numPixels'].hasError('required')">This field is required.</mat-error>
          <mat-error *ngIf="addNeopixelForm.controls['numPixels'].hasError('min')">Must have at least 1 pixel.</mat-error>
          <mat-error *ngIf="addNeopixelForm.controls['numPixels'].hasError('pattern')">This field must be a number.</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-select placeholder="GPIO Pin" formControlName="gpioPin" required>
          <mat-option *ngFor="let pin of gpioPinOptions" value="{{pin}}">{{pin}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="action-container">
        <button type="submit" class="submit-button" mat-raised-button color="primary" [disabled]="addNeopixelForm.invalid">Go!</button>
      </div>
    </form>
  </div>
</div>
