#add-button {
    position: absolute;
    width: 72px;
    height: 72px;
    right: 24px;
    bottom: 24px;
}

#neopixels-container {
    padding: 24px;
}

#neopixel-card {
    margin-bottom: 24px;
}

#pixel-container {
    margin: 8px;
}

#neopixel-actions {
    position: absolute;
    right:0;
    top:0;
}